* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  background-image: url(image/bg-image.webp);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
